<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Country</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            background: #0d2d3c;
            padding-top: 20px;
        }
        .container {
            max-width: 600px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-white">Edit Speciality</h2>
    <form action="/admin/editSpeciality" method="post">
        <input type="hidden" name="id" th:value="${speciality.id}">
        <div class="form-group">
            <label class="text-white" for="name">Speciality Name</label>
            <input type="text" name="name" class="form-control" id="name"  th:value="${speciality.getName()}" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" href="/admin/room">Cancel</a>
    </form>
</div>
<script src="/bootstrap.min.js"></script>
</body>
</html>
