
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .orqafon {
            background-color: #081d27;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<section class="vh-100 bg-image orqafon "
         style=" height:100vh ">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5"> Login </h2>
                            <p th:if="${error}" class="text-danger" th:text="${error}"></p>

                            <form action="/login" method="post">


                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="text" name="username" id="form3Example3cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example3cg">Your Phone</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                </div>



                                    <button  type="submit" class="btn btn-info btn-block btn-lg gradient-custom-4 text-body">login</button>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>